html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#sidebar {
  position: absolute;
  left: 0;
  top: 0;
  width: 350px;
  height: 100%;
  background: white;
  border-right: 2px solid #ccc;
  padding: 20px;
  overflow-y: auto;
  transform: translateX(-100%);
  transition: 0.3s ease;
}

#sidebar.open {
  transform: translateX(0);
}

#closeSidebar {
  position: absolute;
  right: 10px;
  top: 10px;
  border: none;
  background: none;
  font-size: 22px;
  cursor: pointer;
}
/* MAP ---------------------------------------------- */
#map {
  position: absolute;
  left: 360px; /* makes space for sidebar */
  top: 0;
  width: calc(100% - 360px);
  height: 100%;
  background: #e6e6e6;
}
